.checkbox{
         min-width: 120px;
         margin-bottom: 8;
         margin-top: 24px;
         margin-left: 20px;
     }
     .select{
     
      margin-bottom: 8px;
      margin-top: 16px; 
      margin-left: 16px ;
     }